# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Sensitive files and secrets
.streamlit/secrets.toml

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/